-   job_name: '{{ JOB_NAME }}'
    static_configs:
      - targets:
          - {{ TARGET_IP }}
    metrics_path: /snmp
    params:
        module: [ osm-snmp ] 
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ EXPORTER_POD_IP }}:{{ EXPORTER_POD_PORT }}  # The SNMP exporter's real hostname:port.

